.cart
{
    margin-top: 100px;
}
.cart-items-title
{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: grey;
    font-weight: 800;
    font-size: max(1vw,14px);
}
.cart-items-item
{
    margin: 10px 0px;
    color:rgb(129, 38, 5);
    font-weight: 600;
}
.cart-items-item img
{
    width: 70px;
}
.cart hr
{
    height: 2.5px;
    background-color: #e2e2e2;
    border: none;
}
.cross
{
    cursor: pointer;
    color: darkblue;
}
.cart-bottom
{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: max(12vw,20px);
}
.cart-total
{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cart-total-details
{
    display:flex;
    justify-content: space-between;
    color: #555;
}
.cart-total hr
{
    margin: 10px 0px;
}
.cart-total button
{
    border: none;
    color: white;
    background-color:tomato;
    width: max(15vw,200px);
    padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;
}